*.pyc
.env
.venv
__pycache__/
*.pyo
*.pyd
*__pycache__
.vscode/
logs/*
*.log
.claude
current_furnace_data.csv
src/assets/data/furnace_dataset_*.csv
*.isorted
/storage/
.pytest_cache/
.pytest_tmp/
pytest-cache-files-*/
nul
.neon
neonctl
src/storage/furnacemind/mrag_images/
src/assets/tmp
